@layer reset, base, layout, components, utilities;

@layer base {
	:root {
		--bg-clr: #0f172a;
		--nav-bg-clr: #1e293b;
	}

	html {
		font-family:
			system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
			Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		background-color: var(--bg-clr);
		color-scheme: dark light;
	}

	body {
		min-height: 100vh;
		font-size: 1.25rem;
		color: white;
		display: grid;
		grid-template-columns: 15rem 1fr;
	}

	nav {
		background-color: var(--nav-bg-clr);
	}

	::view-transition-group(activeNavTab) {
		animation-duration: 500ms;
		animation-timing-function: ease-in-out;
	}

	.nav-list {
		list-style: none;
		display: grid;
		gap: 2rem;
		padding-block: 2rem;
		margin-left: 2rem;

		li {
			padding: 1rem 2rem;
			border-radius: 100vw 0 0 100vw;

			&.active {
				view-transition-name: activeNavTab;
				background: var(--bg-clr);
				position: relative;

				&::before,
				&::after {
					--border-radius: 1rem;
					content: "";
					position: absolute;
					width: var(--border-radius);
					height: var(--border-radius);
					right: 0;
					background-color: var(--nav-bg-clr);
					border-radius: 100vw;
				}

				&::before {
					top: calc(var(--border-radius) * -1);
					border-radius: 0 0 100vw 0;
					box-shadow: 3px 3px 0 3px var(--bg-clr);
				}

				&::after {
					bottom: calc(var(--border-radius) * -1);
					border-radius: 0 100vw 0 0;
					box-shadow: 3px -3px 0 3px var(--bg-clr);
				}
			}

			&:nth-child(1) a {
				view-transition-name: navLink-1;
			}

			&:nth-child(2) a {
				view-transition-name: navLink-2;
			}

			&:nth-child(3) a {
				view-transition-name: navLink-3;
			}

			&:nth-child(4) a {
				view-transition-name: navLink-4;
			}
		}

		a {
			color: white;
			display: block;
			text-decoration: none;
			position: relative;
			z-index: 10;
		}
	}

	main {
		max-height: 100vh;
		overflow-y: auto;
	}

	@view-transition {
		navigation: auto;
	}
}
